@tailwind base;
@tailwind components;
@tailwind utilities;

.mouse-pointer{
    @apply cursor-pointer
}
.item-center{
    @apply flex items-center justify-center
}
.nav-hover {
    position:relative;
}

.nav-hover::before{
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    bottom: 0;
    left: 0;
    background: #FACC15;
    transition: width 0.4s ease, right 0.4s ease;
}
.nav-hover:hover::before{
    width: 100%;
    left: 0;
}

.scrollbar-hidden::-webkit-scrollbar{
    display: none;
}

html{
    height: 100%;
    background-color: white;
    scroll-behavior: smooth;
}
.larger-datepicker-container {
    transform: scale(1.5); 
    transform-origin: top left; 
  }
  
  .larger-datepicker-container .react-datepicker__month-container {
    width: 100%; 
    height: 100%; 
  }
  
  .larger-datepicker-container .react-datepicker__header {
    font-size: 1.2rem; 
    padding: 1rem; 
  }
  
  .larger-datepicker-container .react-datepicker__day {
    width: 2rem; 
    height: 2rem; 
    line-height: 2rem; 
    font-size: 1.2rem; 
  }
  
  .larger-datepicker-container .react-datepicker__day-name {
    font-size: 1rem; 
  }
  
  .larger-datepicker-container .react-datepicker__current-month {
    font-size: 1.25rem;
  }
  
  .larger-datepicker-container .react-datepicker__navigation {
    top: 1rem;
  }
  