@tailwind base;
@tailwind components;
@tailwind utilities;

.mouse-pointer{
    @apply cursor-pointer
}
.item-center{
    @apply flex items-center justify-center
}
.nav-hover {
    position:relative;
}

.nav-hover::before{
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    bottom: 0;
    left: 0;
    background: #FACC15;
    transition: width 0.4s ease, right 0.4s ease;
}
.nav-hover:hover::before{
    width: 100%;
    left: 0;
}

.scrollbar-hidden::-webkit-scrollbar{
    display: none;
}

html{
    height: 100%;
    background-color: white;
}
